body {
  background-color: #292929;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h4 {
  color: white;
  text-align: center;
}

h4 {
  text-decoration: underline;
}

a {
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 50%;
}

button, select, option {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px 10px;
  background: green;
  font-size: 2rem;
  cursor: pointer;
}

select, option {
  font-size: 1.9rem;
}

button:hover {
  opacity: 0.75;
}

select:focus {
  outline: none;
}

nav {
  left: 6rem;
}

nav button {
  position: relative;
}

nav button a {
  color: #000;
  text-decoration: none;
}

#launch {
  text-align: center;
  justify-content: space-evenly;
}

#launch button {
  padding: 10px 20px;
  margin-left: 3rem;
}

#loading-bar {
  text-align: center;
  background-color: green;
  border: #000 1.5px solid;
  height: 1rem;
  position: relative;
  margin-top: 1rem;
  visibility: hidden;
}

#version-select {
  padding: 10px 20px;
  position: relative;
  color: white;
}

#version-select option {
  background-color: green;
  color: black;
}

#options-btn {
  padding: 10px 20px;
  margin-top: 2rem;
}

#flappybird, #flappybird-launcher {
  border: 0.3rem solid #fff;
  width: 50%;
  margin-left: 25%;
  margin-top: 1rem;
}